<ion-card class="w-72 h-[400px]">
  <!-- Imagen -->
  <ion-img  
    class="w-full h-48 object-cover rounded-t-lg"
    [src]="product.image || 'placeholder-image.jpg'"
    alt="Imagen producto">
  </ion-img>

  <!-- Tarjeta -->
  <div class="p-5 flex flex-col justify-between h-[calc(400px-192px)]">
    <!-- Nombre producto -->
    <ion-card-header>
      <ion-card-title 
        class=" font-medium tracking-tight text-gray-900 mb-2 text-sm">
        {{ product.name }} -
        <span class="text-sm text-gray-500">{{ productTypeName }}</span>
      </ion-card-title>
    </ion-card-header>

    <!-- Barra inferior -->
    <div class="flex flex-col gap-4 items-center">
      <!-- Precio -->
      <div class="w-full flex justify-between items-center">
        <span class="text-2xl font-bold text-gray-900">
          ${{ product.price | number: "1.0-2" }}
        </span>
      </div>

      <!-- Agregar al carrito -->
      <ion-button
        [color]="product.stock > 0 ? 'primary' : 'medium'"
        [disabled]="0 >= product.stock"
        expand="block"
        class="w-full"
        (click)="addShoppinCart(product.id)"
      >
        {{ product.stock > 0 ? 'Agregar al carrito' : 'Stock agotado' }}
      </ion-button>
    </div>
  </div>
</ion-card>
