<ion-card class="max-w-sm">
  <!-- Imagen -->
  <ion-img  
    class="rounded-t-lg w-full h-48 object-cover max-w-lg transition-all duration-300 hover:grayscale-0"
    [src]="product.image || 'placeholder-image.jpg'"
    alt="Imagen producto">
  </ion-img>

  <!-- Tarjeta -->
  <div class="p-5">
    <!-- Nombre producto -->
    <ion-card-header>
      <ion-card-title class="text-xl font-semibold tracking-tight text-gray-900 mb-2">
        {{ product.name }} -
        <span class="text-gray-500">{{ productTypeName }}</span>
      </ion-card-title>
    </ion-card-header>

    <!-- Barra inferior -->
    <div class="ion-padding-top ion-padding-bottom">
      <!-- Precio -->
      <span class="text-lg font-bold text-gray-900">
        ${{ product.price | number: "1.0-2" }}
      </span>

      <!-- Agregar al carrito -->
      <ion-button
        [color]="product.stock > 0 ? 'primary' : 'medium'"
        [disabled]="0 >= product.stock"
        expand="block"
        class="mt-2"
        (click)="addShoppinCart(product.id)"
      >
        {{ product.stock > 0 ? 'Agregar al carrito' : 'Stock agotado' }}
      </ion-button>
    </div>
  </div>
</ion-card>
