<ion-content class="ion-padding flex justify-center items-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Iniciar sesión</ion-card-title>
      <p class="ion-text-center ion-padding-top">
        Ingresa tus credenciales para continuar
      </p>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email Field -->
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input
            type="email"
            formControlName="email"
            [class.ion-invalid]="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
            [class.ion-touched]="loginForm.get('email')?.touched"
          ></ion-input>
        </ion-item>
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched)
        {
        <div class="ion-padding-start" style="color: var(--ion-color-danger)">
          {{ getFieldError("email") }}
        </div>
        }

        <!-- Password Field -->
        <ion-item class="ion-margin-top">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            type="password"
            formControlName="password"
            [class.ion-invalid]="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
            [class.ion-touched]="loginForm.get('password')?.touched"
          ></ion-input>
        </ion-item>
        @if (loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched) {
        <div class="ion-padding-start" style="color: var(--ion-color-danger)">
          La contraseña debe tener al menos 8 caracteres
        </div>
        }

        <!-- Submit Button -->
        <ion-button
          expand="block"
          class="ion-margin-top"
          type="submit"
          [disabled]="loginForm.invalid || loading"
        >
          @if (loading) {
          <ion-spinner name="crescent"></ion-spinner>
          <span class="ion-padding-start">Procesando...</span>
          } @else { Iniciar sesión }
        </ion-button>
      </form>
      
    <!-- Mensajes de Error -->
    <div *ngIf="error" class="bg-red-500 rounded-lg mb-5 flex justify-center">
      <p class="text-white text-sm font-medium m-5">{{ errorMessage }}</p>
    </div>
    </ion-card-content>
  </ion-card>
</ion-content>